{
    "url_source_base": "https://ztf.uw.edu/alerts/public/",
    "url_source_file_prefix": "ztf_public_",
    "url_source_file_postfix": ".tar.gz",
    "files_base_folder": "/home/alerce/batch_processing/data",
    "downloads_folder": "compressed_avros",
    "untar_folder": "uncompressed_avros",
    "parquet_folder": "parquet",
    "batch_size": 2500,
    "compression": "snappy",
    "delete_data": "false",
    "overwrite_data": "false",
    "start_date": "2023/12/26",
    "end_date": "2023/12/27",
    "date_format": "%Y/%m/%d"
}
